altgraph==0.17
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
brotlipy==0.7.0
cachetools==4.1.1
certifi==2020.6.20
cffi @ file:///C:/ci/cffi_1600699246375/work
chardet==3.0.4
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
cryptography @ file:///C:/ci/cryptography_1601046905460/work
future==0.18.2
google-api-core==1.23.0
google-api-python-client==1.12.5
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.52.0
httplib2==0.18.1
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
importlib-metadata==2.0.0
lxml @ file:///C:/ci/lxml_1603216366346/work
oauthlib==3.1.0
pefile==2019.4.18
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
PySocks==1.7.1
pytz==2020.4
pywin32-ctypes==0.2.0
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.0
rsa==4.6
six==1.15.0
soupsieve==2.0.1
uritemplate==3.0.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
win-inet-pton==1.1.0
wincertstore==0.2
zipp==3.4.0

colorama~=0.4.4